@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
$font-family: 'Rubik', sans-serif;
$font-size: 1rem;
$font-weights: (
    "regular":400,
    "medium":500,
    "bold":700
);